<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularTldr</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <base href="../public/javascripts" target="_blank">
  
  <script src="libs/jquery.min.js"></script>
  <script src="libs/easeljs-0.8.2.min.js"></script>
  <script src="libs/tweenjs-0.6.2.min.js"></script>
  <script src="libs/lodash.js"></script>
  
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="main.js"></script>
  <script src="sys.js"></script>
  <script src="draw.js"></script>
  <script src="keys.js"></script>
  <script src="const.js"></script>
</head>

<body onload="init();">
	<canvas id="mainCanvas"></canvas>
</body>
</html>
