<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularTldr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
  <script src="javascripts/libs/jquery.min.js"></script>
  <script src="javascripts/libs/easeljs-0.8.2.min.js"></script>
  <script src="javascripts/libs/tweenjs-0.6.2.min.js"></script>
  <script src="javascripts/libs/lodash.js"></script>
  
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/main.js"></script>
  <script src="javascripts/sys.js"></script>
  <script src="javascripts/draw.js"></script>
  <script src="javascripts/keys.js"></script>
  <script src="javascripts/const.js"></script>
  <script src="javascripts/grid.js"></script>
</head>

<body onload="init();">
	<canvas id="mainCanvas"></canvas>
</body>
</html>
